---
title: Projects
layout: default
permalink: /projects.html
---
<div>
<h3><strong>Publication</strong></h3>
    <br>
{% for page in site.pages %}	
{% if page.category == 'publication' %}
<dl>
   <dt>
      <h4><p class="text-left"><strong>{{ page.title }}</strong></p></h4>
   </dt>
   <dd>{{ page.members }}<br> {{ page.description }}</dd> 
    <br>
   <dt>Abstract:</dt>
   <dd> {{ page.content }}</dd>
</dl>
{% endif %}
{% endfor %}
    <hr>
<h3><strong>Graduation Project</strong></h3>
    <br>
{% for page in site.pages %}	
{% if page.category == 'graduation-project' %}
<dl>
   <dt>
      <h4><p class="text-left"><strong>{{ page.title }}</strong></p></h4>
   </dt>
   <dd>{{ page.members }}<br> {{ page.description }}</dd> 
     <br>
   <dt>Abstract:</dt>
   <dd> {{ page.content }}</dd>
</dl>
{% endif %}
{% endfor %}
    <hr>
<h3><strong>Academic Projects</strong></h3>
{% assign sorted_pages = site.pages | sort : "path" %}
{% for page in sorted_pages %}
{% if page.category == 'project' %}
<dl>
   <dt>
      <h4><p class="text-left"><strong>{{ page.title }}</strong></p></h4>
   </dt>
   <dd>{{ page.members }}<br> {{ page.description }}</dd> 
     <br>
   <dt>Abstract:</dt>
   <dd> {{ page.content }}</dd>
</dl> 
    <br>
{% endif %}
{% endfor %}  
    <hr>
 <h2><strong>Other Academic Projects</strong></h2>
    <ul>
        <li><strong>Gaussian Mixture Models</strong> – Modelling the fingerprint scores based on probabilistic distributions under the UID as Winter Intern in the Biometrics Lab in IIIT-Delhi.</li>
        <li><strong>Earth Impact Prediction Location System</strong> – Creating a system to predict the meteor impacts based on Non-Parametric Density Estimation Methods.</li>
        <li><strong>Virtual Tourist Portal Creation</strong> – A web portal for serving queries of users to rank hotels on the basis of different services based on the comments on virtualtourist.com.</li>
        <li><strong>Workflow Management System for Recruitment Agency</strong> –Developed an industrial strength software system for managing the workflow of a recruitment agency for Lecan Solutions Pvt. Ltd.</li>
        <li><strong>Piracy in India</strong> – A quantitative and qualitative study to understand the causes and suggest solution to one of the biggest problems which the music and movie industry faces worldwide piracy.</li>
    </ul>
<br>
<br>
    </div>
</div>
